body {
    font-family: sans-serif;
    background-color: #f4f9f9;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f4f9f9;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0275d8 ;
    padding: 10px 10px;
    width: 300px;
    outline: none;
    border-radius: 50px;
    transition: 0.25s
}

.box input[type="text"]:focus {
    width: 400px;
    border-color: #77d8d8;
}

.box input[type="submit"] {
    background: #0275d8 ;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0275d8  ;
    padding: 14px 40px;
    border-radius: 50px;
    color: white;
}

.box input[type="submit"]:hover {
    background: #77d8d8;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 2rem auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

button:hover, a:hover {
  opacity: 0.7;
}

.navbar-btn:hover {
    background: #77d8d8;
}